@keyframes headerContent {
	0%, 50% {
		-webkit-transform: scale(0) rotate(45deg);
				transform: scale(0) rotate(45deg);
	}
	70% {
		-webkit-transform: scale(1.7) rotate(35deg);
				transform: scale(1.7) rotate(35deg);
	}
	80% {
		-webkit-transform: scale(1.7) rotate(25deg);
				transform: rotate(25deg);
	}
    90% {
    	-webkit-transform: scale(0.8) rotate(15deg);
				transform: scale(0.8) rotate(15deg);
	}
	to {
		-webkit-transform: scale(1) rotate(0deg);
				transform: scale(1) rotate(0deg);
	}
}

@-webkit-keyframes headerContent {
	0%, 50% {
		-webkit-transform: scale(0) rotate(45deg);
				transform: scale(0) rotate(45deg);
	}
	70% {
		-webkit-transform: scale(1.7) rotate(35deg);
				transform: scale(1.7) rotate(35deg);
	}
	80% {
		-webkit-transform: scale(1.7) rotate(25deg);
				transform: rotate(25deg);
	}
    90% {
    	-webkit-transform: scale(0.8) rotate(15deg);
				transform: scale(0.8) rotate(15deg);
	}
	to {
		-webkit-transform: scale(1) rotate(0deg);
				transform: scale(1) rotate(0deg);
	}
}


.animated {
	-webkit-animation-duration: 1s;
			animation-duration: 1s;
	-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
}

.header-content-anim {
	-webkit-animation-name: headerContent;
			animation-name: headerContent;
}
